@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,600,700,800&subset=cyrillic');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #020A18;
    font-family: Open Sans;
}

/* Header */
.header {
    background-color: #09111e;
}
.container {
    margin: 0 auto;
}
.menu_link {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-style: normal;    
    font-weight: 600;
    line-height: normal;
}
.menu_link:hover {
    color: #3A6888;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 39px 0;
}
.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

/* Section Top-content */
.top-content {
    padding: 160px 0 197px 0;
    background-color: #09111e;
    backdrop-filter: blur(100px);
}
.top-content .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;
}
.main-left {
    max-width: 604px;
}
.main-right {
    width: fit-content;
}
.subtitle {
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title {
    color: #ffffff;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}
.desc {
    color: #ffffff;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    max-width: 93%;
}
.buttons-group {
    display: flex;
    flex-direction: row;        
    align-content: center;
    align-items: center;
    gap: 20px;
}
.main-link, .about-link {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 15px 30px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fa-caret-right {
    color: #ffffff;
    height: 26px;
    width: 27px;
    vertical-align: middle;
}
.fa-caret-right::before {
    font-size: 26px;
    margin-right: 10px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Section Logos */
.logos {
    padding-bottom: 99px;
    background-color: #09111e;
}
.logos .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

/* Section About */
.about {
    margin-top: 157px;
    margin-bottom: 264px;
}
.about .container {
    display: flex;
    justify-content: center;
    gap: 68px;
}
.about-left {
    width: fit-content;
}
.about-right {
    display: flex;
    justify-items: start;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.title-2 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}
.text-about, .text-review {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 50px;
    opacity: 0.7;
}

/* Section services */
.services {
    margin-bottom: 243px;
}
.grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
}
.service {
    border-radius: 10px;
    background: #132035;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px;
}
.service-img {
    width: fit-content;
}
.title-4 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}
.dsc-service {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
}
.big {
    grid-column: span 2;
    grid-row: span 2;  
    gap: 60px;
}

/* Section reviews */
.reviews {
    margin-bottom: 221px;
}
.reviews .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}
.reviews-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    max-width: 550px;
    gap: 20px;
}
.reviews-right {
    height: 492px;
}
.reviews .title-2 {
    margin-bottom: 20px;
}
.text-review {
    margin-bottom: 0;
    width: 85%;
}

/* Footer */
.footer {
    background-color: #070f1d;
    padding: 48px 0;    
}
.footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.left-col, .middle-col, .right-col {
    width: 362px;
}
.title-5 {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 33px;
}
.mail, .phone, .address, .site-url {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mail, .phone, .site-url {
    margin-bottom: 24px;
}
.fa-regular, .fa-solid {
    margin-right: 9px;
}
.middle-text {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    width: 75%;
    opacity: 0.6;
}
.social-icons {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    opacity: 0.6;
}
.social-link {
    color: #ffffff;
}

@media (max-width: 1024px) {
    .center {
       padding-left: calc(50% - 376px);
       padding-right: calc(50% - 376px);
    } 
    .title {
        font-size: 48px;
    }
    .subtitle {
        font-size: 16px;
    }
    .logos {
        padding-bottom: 120px;
    }
    .logos .container {
        gap: 32px;
        max-width: 650px;
        margin: auto;
    }
    .about .container {
        flex-wrap: wrap;        
    }
    .about-right {
        max-width: 500px;
    }
    .grid {
        grid-template-columns: repeat(1, 362px);
        gap: 32px;
    }
    .big {
        grid-column: 1;
        grid-row: 1;
        gap: 30px;
    }
    .big img {
        width: 98px;
    }
    .reviews .container {
        justify-content: center;
        gap: 68px;
    }
    .footer .container {
        height: 295px;
        align-content: space-between;
    }
}
@media (max-width: 767px) and (min-width: 320px) {
    .center {
        padding-left: calc(50% - 171.5px);
        padding-right: calc(50% - 171.5px);
     } 
    .nav {
        gap: 16px;
    }
    .menu_link, .subtitle {
        font-size: 14px;
    }
    .main-left {
        text-align: center;
    }
    .title {
        font-size: 28px;
    }
    .buttons-group {
        flex-direction: column;
        text-align: center; 
        gap: 24px;
    }
    .main-right img {
        max-width: 100%;
    }
    .about-left img {
        max-width: 100%;
    }
    .about-right {
        align-items: center;
        text-align: center;
    }
    .title-2 {
        font-size: 24px;
    }
    .about-link {
        font-size: 16px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .reviews {
        margin-bottom: 96px;
    }
    .reviews-left {
        align-items: center;
        text-align: center;
    }
    .reviews-right img {
        max-width: 100%;
    }
    .footer .container {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 32px;
    }
    .left-col, .middle-col, .right-col {
        width: 100%;
    }
    .middle-col {
        order: -1;
    }
    .title-5 {
        text-align: center;
    }
    .right-col {
        text-align: center;
    }
    .social-icons {
        justify-content: center;
    }

}