* {
    margin: 0;
    padding: 0;
}
.top-block {
    padding-bottom: 162.45px;
}
.header {
    padding-top: 40px;
}
.top-info {
    margin-top: 164px;
}
.title {
    margin-bottom: 17px;
}
.buttons-group {
    margin-top: 37px;
}
.logos-block {
    padding-top: 97px;
    padding-bottom: 96px;
}
